.container {
  height: 98vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.sidenav-content {
  // display: flex;
  // height: 100%;
  align-items: center;
  justify-content: center;
  padding: 2%;
  width: 88vw;
  height: 60vh;
}
.sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}
.app-name{
  margin-left: 1%;
}
.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.active{
  color: purple;
}

.full{
  width: 100%;
  height: 78vh;

}
